---
layout: default
title: Agile Delivery Models
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/agile-delivery-guide?x=QnKq41"
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "You will also receive a copy of the eBook to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Agile delivery: A guide to finding the right model
        %h2.page-headline Explores the five core models of Agile delivery, helping you determine the best approach for your team

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Agile project planning paves the way for teams to adopt a variety of methods to increase visibility and collaboration, making it a popular software development methodology. In this iterative approach, teams develop a minimum viable product and improve its features in successive iterations.
            
            %p Agile methodologies facilitate rapid delivery, but it’s challenging to know which approach is best for your team.


            %h3 What you’ll learn in this eBook:
            %ul
              %li The 5 core  models of Agile delivery
              %li How to implement each Agile methodology
              %li How GitLab can help you deliver better products faster

            %p Download the ebook to accelerate the software delivery process to meet your business objectives.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }