---
layout: handbook-page-toc
title: "Groups"
---

## DevOps stage and group dashboards

[Development Department](/handbook/engineering/development/)

| Sub-department | Team | Sisense Dashboard |
| -------------- | ---- | ----------------- |
| [CI/CD Sub-department](/handbook/engineering/development/ci-cd/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "cicd"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [CI/CD Sub-department](/handbook/engineering/development/ci-cd/) | [Package Backend Team](/handbook/engineering/development/ci-cd/package/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "cicd"},{name: "team", value: "package_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [CI/CD Sub-department](/handbook/engineering/development/ci-cd/) | [Release Backend Team](/handbook/engineering/development/ci-cd/release/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "cicd"},{name: "team", value: ["release_release_management_be", "release_progressive_delivery_be"] }], visible: ["development_section", "team"]) %>">Dashboard</a> |
| [CI/CD Sub-department](/handbook/engineering/development/ci-cd/) | [Verify Backend Team](/handbook/engineering/development/ci-cd/verify/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "cicd"},{name: "team", value: "verify_ci_be"}], visible: ["development_section", "team"]) %>">Dashboard</a> |
| [CI/CD Sub-department](/handbook/engineering/development/ci-cd/) | [Verify & Release Frontend Team](/handbook/engineering/development/ci-cd/fe-verify-release/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "cicd"},{name: "team", value: ["release_release_management_fe", "release_progressive_delivery_fe", "verify_ci_fe"]}], visible: ["development_section", "team"]) %>">Dashboard</a> |
| [Defend Sub-department](/handbook/engineering/development/defend/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "defend"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Editor Backend Team](/handbook/engineering/development/dev/create-editor-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_editor_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Knowledge Backend Team](/handbook/engineering/development/dev/create-knowledge-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_knowledge_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Source Code Backend Team](/handbook/engineering/development/dev/create-source-code-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_source_code_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Source Code Frontend Team](/handbook/engineering/development/dev/create-source-code-fe/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_source_code_fe"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Static Site Editor Team](/handbook/engineering/development/dev/create-static-site-editor/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["static_site_editor","static_site_editor_fe"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Gitaly Team](/handbook/engineering/development/dev/gitaly/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "gitaly"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Gitter Team](/handbook/engineering/development/dev/gitter/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "gitter"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Manage Backend Team](/handbook/engineering/development/dev/manage/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["manage_access_be","manage_analytics_be","manage_compliance_be","manage_import_be"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Manage & Fulfillment Frontend Team](/handbook/engineering/development/dev/fe-manage-fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["manage_access_fe","manage_analytics_fe","manage_compliance_fe","manage_import_fe"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan:Project Management Backend Team](/handbook/engineering/development/dev/plan-project-management-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["plan_project_management_be"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan:Portfolio Management Backend Team](/handbook/engineering/development/dev/plan-portfolio-management-be/)/[Plan:Certify Backend Team](/handbook/engineering/development/dev/plan-certify-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["plan_portfolio_management_be"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan Frontend Team](/handbook/engineering/development/dev/fe-plan/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["plan_fe"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Ecosystem Team](/handbook/engineering/development/dev/ecosystem/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: ["ecosystem_be","ecosystem_fe"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Database Team](/handbook/engineering/development/enablement/database/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"},{name: "team", value: "database_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Distribution Team](/handbook/engineering/development/enablement/distribution/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"},{name: "team", value: "distribution_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Geo Team](/handbook/engineering/development/enablement/geo/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"},{name: "team", value: ["geo_be","geo_fe"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Memory Team](/handbook/engineering/development/enablement/memory/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"},{name: "team", value: "memory_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Search Team](/handbook/engineering/development/enablement/search/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "enablement"},{name: "team", value: "global_search_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Acquisition Team](/handbook/engineering/development/growth/acquisition-conversion-be-telemetry/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "acquisition"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Conversion Team](/handbook/engineering/development/growth/acquisition-conversion-be-telemetry/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "conversion"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Expansion Team](/handbook/engineering/development/growth/expansion/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "expansion"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Retention Team](/handbook/engineering/development/growth/retention/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "retention"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Fulfillment Backend Team](/handbook/engineering/development/growth/fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: ["fulfillment_be"]}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Fulfillment Frontend Team](/handbook/engineering/development/growth/fe-fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "fulfillment_fe"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Telemetry Backend Team](/handbook/engineering/development/growth/acquisition-conversion-be-telemetry/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "growth"},{name: "team", value: "telemetry_be"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Configure](/handbook/engineering/development/ops/configure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"},{name: "team", value: ["configure_be"] }], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Monitor Stage Team](/handbook/engineering/development/ops/monitor/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"},{name: "team", value: ["monitor_be","monitor_fe"] }], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Monitor:APM Team](/handbook/engineering/development/ops/monitor/apm/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"},{name: "team", value: ["monitor_apm_fe","monitor_apm_be"] }], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Monitor:Health Team](/handbook/engineering/development/ops/monitor/health/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"},{name: "team", value: ["monitor_health_fe","monitor_health_be"] }], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "secure"}], visible: ["development_section", "team"] ) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) | [Secure Backend Team](/handbook/engineering/development/secure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "secure"},{name: "team", value: ["secure_be","secure_be__vulnerability_research"] }], visible: ["development_section", "team"]) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) | [Secure Frontend Team](/handbook/engineering/development/secure/fe-secure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "secure"},{name: "team", value: ["secure_fe"] }], visible: ["development_section", "team"]) %>">Dashboard</a> |
